<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 用于消息的监听的容器 -->
	<bean id="canalMessageListenerContainer" class="com.imadcn.framework.canal.listener.SimpleMessageListenerContainer">
		<property name="connectionFactory" ref="canalConnectionFactory" />
		<property name="messageListener" ref="canalMessageListener" />
		<property name="autoStartup" value="true" />
	</bean>
	
	<!-- 消息处理器 -->
	<bean id="canalMessageListener" class="com.imadcn.demo.canal.CanalMessageListener" />
</beans>