<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:overwatch="http://code.imadcn.com/schema/overwatch"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context 
						http://www.springframework.org/schema/context/spring-context.xsd
						http://code.imadcn.com/schema/overwatch
						http://code.imadcn.com/schema/overwatch.xsd">
						
	<overwatch:avatar id="1001" name="Dva" type="Dva"/>
	<overwatch:avatar id="1002" name="Reinhardt" type="Reinhardt"/>
	<overwatch:avatar id="1003" name="Roadhog" type="Roadhog"/>
	<overwatch:avatar id="1004" name="Zenyatta" type="Zenyatta"/>
	<overwatch:avatar id="1005" name="Winston" type="Winston"/>
</beans>
