<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
            			
    <bean id="kafkaIntegerSerializer" class="org.apache.kafka.common.serialization.IntegerSerializer" />
    <bean id="kafkaStringSerializer" class="org.apache.kafka.common.serialization.StringSerializer" />
    
    <bean id="kafkaIntegerDeserializer" class="org.apache.kafka.common.serialization.IntegerDeserializer" />
    <bean id="kafkaStringDeserializer" class="org.apache.kafka.common.serialization.StringDeserializer" />
	
 	<import resource="spring-kafka-producer.xml"/>
	<import resource="spring-kafka-consumer.xml"/>
</beans>